@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --font-family-heading: "Poetsen One", sans-serif;

  /* color pallet */
  --bg: #2e7d32;
  --primary: #ffeb3b;
  --secondary: #795548;
  --third: #4caf50;
  --text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--text);
}
.container {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
}

/* tittle: style Navbar */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #795548;
  border-radius: 50px;
  align-items: center;
  height: fit-content;
  width: -webkit-fill-available;
  margin: 30px 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.navbar .logo {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

.logo img {
  width: 40px;
  height: 40px;
  background-color: var(--third);
  border-radius: 50%;
}

.logo p {
  font-family: var(--font-family-heading);
  font-size: 1.5rem;
  margin-left: 10px;
}

.logo p span {
  color: var(--primary);
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

.navbar ul li a:hover {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.navbar ul li a.active {
  color: var(--primary);
}

.login {
  background-color: var(--primary);
  height: fit-content;
  padding: 5px 30px;
  margin: 0 20px;
  border-radius: 30px;
}

.login a {
  text-decoration: none;
  font-family: var(--font-family-heading);
  color: #2e7d32;
  font-size: 1.2rem;
}

.profile{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  margin-right: 20px;
}

/* tittle: style Welcome */
#home {
  background-image: url("img/background\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-home {
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0 10%;
}

.content-home h1 {
  font-size: 3rem;
}

.content-home h1 span {
  color: var(--primary);
}

.content-home h2 {
  font-weight: 500;
  margin: 0;
}

.content-home p {
  text-align: center;
  margin: 15px 0;
  font-size: 1.2rem;
}

.content-home button {
  background-color: var(--text);
  color: var(--bg);
  padding: 10px 100px;
  border-radius: 30px;
  font-size: 1rem;
  border: none;
  font-weight: bold;
  margin-top: 30px;
}

/* tittle: About Us */
.about-us-section {
  background-color: #ffffff;
  width: 100%;
  max-width: 1100px;
  margin: 40px auto;
  padding: 60px 0;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-us-image-container {
  flex-shrink: 0;
  width: 20%;
  margin-right: 50px;
  position: relative;
}

.about-us-image-container img {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  clip-path: ellipse(75% 50% at 25% 50%);
}

.about-us-content {
  flex-grow: 1;
  max-width: 55%;
}

.about-us-content h2 {
  font-size: 2.8em;
  color: #28a745;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: left;
}

.about-us-content p {
  font-size: 1em;
  line-height: 1.7;
  color: #555555;
  text-align: justify;
}

.decorative-dots {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 70px;
  background-image: radial-gradient(#ffd700 20%, transparent 22%);
  background-size: 15px 15px;
}

.decorative-brown-shape {
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 500px;
  height: 500px;
  background-color: #795548;
  border-radius: -3%;
  clip-path: circle(50% at 100% 100%);
}

.top-green-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #28a745;
}

.bottom-green-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #28a745;
}

/* tittle: style features*/
.features-section {
  background-color: #2e7d32;
  padding: 80px 20px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.features-section h2 {
  color: var(--primary);
  font-size: 2.8em;
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
  gap: 30px;
  justify-items: center;
  width: 1000px;
  justify-self: center;
}

.feature-card {
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  color: var(--secondary);
  max-width: 320px;
  min-height: 275px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  align-content: center;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card.yellow-card {
  background-color: #ffd54f;
}

.feature-card.white-card {
  background-color: #ffffff;
}

.feature-card img {
  width: 40px;
  height: 40px;
  background-color: var(--secondary);
  border-radius: 30px;
  padding: 10px;
}

.feature-card h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  font-weight: bold;
}

.feature-card p {
  font-size: 0.95em;
  line-height: 1.6;
  color: #555555;
}
.feature-card p,
.feature-card h3 {
  color: #4e342e;
}

.dots-pattern {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: radial-gradient(#ffd700 25%, transparent 28%);
  background-size: 12px 12px;
}

.dots-top-left {
  top: 20px;
  left: 20px;
}

.dots-bottom-right {
  bottom: 20px;
  right: 20px;
  transform: rotate(180deg);
}

.icon-placeholder {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #757575;
  margin-bottom: 20px;
}
.feature-card.yellow-card .icon-placeholder {
  background-color: rgba(255, 255, 255, 0.3);
  color: #4e342e;
}

/* tittle: style news & footer */
.news-section-wrapper {
  padding: 60px 0;
  position: relative;
  overflow: hidden;
}

.container-news {
  margin: 20px 10%;
}

.news-section-wrapper .decorative-yellow-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 60%;
  background-color: #ffeb3b;
  clip-path: polygon(0 0, 100% 100%, 0% 100%);
  z-index: -1;
}

.news-section-wrapper .decorative-green-circle {
  position: absolute;
  top: -80px; 
  right: -80px; 
  width: 250px; 
  height: 250px;
  background-color: #4caf50; 
  border-radius: 50%;
  z-index: -1;
}

.news-section-wrapper .decorative-dots-news {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-image: radial-gradient(
    #a1887f 25%,
    transparent 28%
  ); 
  background-size: 10px 10px;
  z-index: 1;
}

.news-section .container {
  position: relative;
  z-index: 2; 
}

.news-section h2 {
  text-align: center;
  font-size: 2.8em;
  color: var(--secondary);
  margin-bottom: 50px;
  font-weight: bold;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  );
  gap: 25px;
}

.news-item {
  display: flex;
  background-color: #f0f0f0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.news-item:hover {
  transform: translateY(-5px);
}

.news-item-image {
  flex-shrink: 0;
  width: 150px; 
  height: auto; 
}

.news-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.news-item-content {
  padding: 20px;
  flex-grow: 1;
  background-color: #e8f5e9;
  place-items: center;
  align-self: center;
}

.news-item-content h3 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 10px;
  color: black; 
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
}

.news-item-content a.read-more {
  font-size: 0.9em;
  color: var(--third); 
  text-decoration: none;
  font-weight: bold;
}

.news-item-content a.read-more:hover {
  text-decoration: underline;
}

/* tittle: Footer */
.footer {
  background-color: var(--secondary); 
  color: #e0e0e0; 
  padding: 20px 0;
  font-size: 0.95em;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 30px;
}

.footer-column {
  min-width: 250px; 
  justify-items: center;
  margin-left: 50px;
  align-content: center;
}

.footer-logo img {
  width: 150px;
  height: 150px;
  vertical-align: middle;
}

.footer-column .footer-title {
  font-size: 2em;
  color: #ffffff;
  vertical-align: middle;
  font-family: var(--font-family-heading);
}

.footer-column .footer-title span {
  color: var(--primary);
}

.footer-tagline {
  font-size: 1em;
  color: var(--text);
}

.footer-contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-contact-item i {
  margin-right: 10px;
  color: var(--primary);
  width: 20px;
  text-align: center;
}

.footer-navigation h4 {
  font-size: 1.3em;
  color: var(--primary);
  margin-bottom: 15px;
  margin-top: 0;
}

.footer-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation li {
  margin-bottom: 10px;
}

.footer-navigation a {
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-navigation a:hover {
  color: var(--primary); 
}

.footer-social-icons a img {
  width: 20px;
  height: 20px; 
}

.footer-social-icons a {
  display: inline-block;
  margin-right: 12px;
  color: #e0e0e0;
  font-size: 1.5em; 
  /* background-color: rgba(255, 255, 255, 0.1); */
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.footer-social-icons a:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

/*tittle: Responsiveness*/
@media (max-width: 992px) {
  .about-us-section {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .about-us-image-container {
    width: 80%;
    margin-right: 0;
    margin-bottom: 30px;
    clip-path: ellipse(60% 50% at 50% 50%);
  }
  .about-us-image-container img {
    clip-path: none;
    border-radius: 20px;
  }

  .about-us-content {
    max-width: 100%;
  }

  .about-us-content h2 {
    font-size: 2.2em;
    text-align: center;
  }

  .about-us-content p {
    text-align: left;
  }

  .decorative-dots {
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-size: 10px 10px;
  }

  .decorative-brown-shape {
    width: 150px;
    height: 150px;
    bottom: -50px;
    right: -50px;
  }
}
@media (max-width: 768px) {
  .about-us-image-container img {
    max-width: 300px;
  }
  .features-section h2 {
    font-size: 2.2em;
  }
  .feature-card {
    padding: 20px;
  }
  .feature-card h3 {
    font-size: 1.4em;
  }
  .feature-card p {
    font-size: 0.9em;
  }
  .dots-pattern {
    width: 40px;
    height: 40px;
    background-size: 10px 10px;
  }
  .dots-top-left {
    top: 10px;
    left: 10px;
  }
  .dots-bottom-right {
    bottom: 10px;
    right: 10px;
  }
  .news-section h2 {
    font-size: 2.2em;
  }
  .news-item {
    flex-direction: column; 
  }
  .news-item-image {
    width: 100%;
    height: 180px; 
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-column {
    margin-bottom: 30px;
  }
  .footer-contact-item {
    justify-content: center;
  }
  .footer-social-icons {
    text-align: center;
  }
  .news-section-wrapper .decorative-yellow-shape {
    height: 40%;
    width: 50%;
  }
  .news-section-wrapper .decorative-green-circle {
    width: 150px;
    height: 150px;
    top: -50px;
    right: -50px;
  }
}
