<%- include('./layouts/header') %>
<%- include('./layouts/nav') %>

  <div class="container">
    <h2>Siapa Kami?</h2>
    <p>Kami adalah tim yang berfokus pada pembuatan website sederhana dan efisien. Misi kami adalah membantu siapa pun untuk memulai perjalanan digitalnya.</p>
    <p>Website ini dibuat sebagai template dasar agar mudah dimodifikasi sesuai kebutuhan.</p>
  </div>

<%- include('./layouts/footer') %>  
