body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
}
.container{
    margin: 50% 0;
}
#rollbtn{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 7px;
    transition: background-color 0.25s;
}
#rollbtn:hover{
    background-color: #4CAF50;
}
.mylabels{
    font-size: 3em;
}