* {
  margin: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: black;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 1em;
  background: rgb(0, 36, 85);
  background: linear-gradient(
    45deg,
    rgba(0, 36, 85, 1) 0%,
    rgba(0, 108, 170, 1) 50%,
    rgba(36, 180, 170, 1) 100%
  );
  color: white;
  filter: drop-shadow(0px 5px 20px black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  z-index: 999;
}
#logo-navbar {
  font-size: 2.2em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}
#logo-navbar:hover {
  /* color: #ffec99; */
  text-shadow: 0px 0px 20px #5e5df0;
}
#navbar .nav-link {
  padding: 0 0.9rem;
  list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  padding: 1, 4rem 7%;
  transition: 0.1s;
}
#navbar .nav-link:hover {
  /* color: #5e5df0; */
  text-shadow: 0px 0px 10px #5e5df0;
  -webkit-text-stroke: 1px white;
}
/* .hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("img/wallhaven-28gq1g_1920x1080.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  opacity: 35%;
}
*/
.hero .background-video {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  object-fit: cover;
  z-index: -99;
  opacity: 33%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
}
.hero .background-video::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 7%,
    rgba(255, 255, 255, 0) 55%
  );
}
.content {
  margin: 0 7%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.content .profil {
  width: 25%;
  height: 45%;
  position: relative;
}
.hero .content .about {
  position: relative;
  text-align: justify;
  max-width: 48rem;
  color: white;
  padding: 20rem 0;
  font-size: 20px;
}
.content .cvbtn button {
  background: rgba(0, 108, 170, 1);
  border-radius: 15px;

  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  margin: 12px;
  padding: 8px 3rem;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: 0.3s;
}
.content .cvbtn button:hover {
  box-shadow: #5e5df0 0 0px 30px -3px;
}







































@media only screen and (max-width: 1366px) {
  *{
    font-size: 90%;
  }
  #navbar .nav-link{
    margin: 0px -5px
  }
  .content .about{
    margin: 0px 2px; 
  }
}
@media only screen and (max-width: 650px) {
  *{
    font-size: 55%;
  }
  .content .profil{
    position: relative;
    justify-content: center;
    text-align: center;
  }
  body{
    background-color: black;
  }
}
